
#search-form {
  text-align: center;
  background-color: grey;
}

#search-form > * {
  padding: .5rem;
}

select {
  margin: auto 1rem auto 0;
}

.filters {
  background-color: lightgrey;
}

@media screen and (min-width: 1000px) {
  #search-form > div {
    display: inline-block;
    background-color: grey;
  }
}
